<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>

<p>
  <%= @post.body %>
</p>

<% if signed_in? && current_user.id == @post.account.user_id %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>
<%= link_to 'Back', posts_path %>
